@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

$animation-size: 2.3rem;

.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 20rem;
}

.animation {
  position: relative;
  width: $animation-size;
  height: $animation-size;
}

.progress {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-weight: bolder;

  margin-left: 1.5rem;
}

.inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: inline-block;
  width: $animation-size;
  height: $animation-size;

  border-width: 0.3rem;
  border-color: rgba(0, 0, 0, 0.05);
  border-top-color: #000;
  border-radius: 100%;
  border-style: solid;
  animation: spin 1s infinite linear;
}
