<!--

This is your module's home page.

Users will see it if they access your module URL with their browsers, but it will not be used in Abc-Map.

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Abc-Map</title>

    <!--  Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!--  Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" />

    <!--  React and babel for JSX-->
    <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/clsx@1.2.1/dist/clsx.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="theme-color" content="#ffffff" />

    <style>
      html,
      body,
      #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-size: 16px;
      }

      .message-box {
        height: 1.2rem;
        margin-bottom: 1rem;
        color: gray;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel" data-presets="react,env">
      const MODULE_NAME = "Buffer";
      const MODULE_DESCRIPTION = (
        <div>
          This is the landing page of <code>Buffer</code>, an example of Abc-Map module.
        </div>
      );

      const { useState, useCallback, useEffect } = React;

      const root = ReactDOM.createRoot(document.querySelector("#root"));
      root.render(<App />);

      function App() {
        const moduleUrl = document.location.href.replace(/(index.html\/?)?(\?instance.+)?$/i, "");
        const [cbMessage, setCbMessage] = useState("");
        const handleCopyToClipboard = useCallback(() => {
          navigator.clipboard
            .writeText(moduleUrl)
            .then(() => setCbMessage("Copied !"))
            .catch((err) => {
              console.error("Clipboard error: ", err);
              setCbMessage("Cannot copy address.");
            });
        }, [moduleUrl]);

        const defaultInstanceUrl = "https://abc-map.fr";
        const [instanceUrl, setInstanceUrl] = useState(defaultInstanceUrl);
        const [opMessage, setOpMessage] = useState("");
        const handleInstanceUrlChange = useCallback((ev) => {
          const value = ev.target.value;
          setInstanceUrl(value);

          if (!isValidUrl(value)) {
            setOpMessage("URL should begin with <code>http://</code> or <code>https://</code>");
          } else {
            setOpMessage("");
          }
        }, []);
        const handleResetInstanceUrl = useCallback(() => setInstanceUrl(defaultInstanceUrl), [defaultInstanceUrl]);

        const handleOpenModule = useCallback(() => {
          if (!isValidUrl(instanceUrl)) {
            setOpMessage("URL should begin with <code>http://</code> or <code>https://</code>");
            return;
          } else {
            setOpMessage("");
          }

          const _instanceUrl = instanceUrl.replace(/\/+$/, "");
          window.open(`${_instanceUrl}/en/modules?url=${encodeURI(moduleUrl)}`, "_blank");
        }, [instanceUrl, moduleUrl]);

        useEffect(() => {
          document.title = MODULE_NAME + " - Abc-Map module";
        }, []);

        return (
          <div className="card">
            <div className="card-body p-5">
              <h1 className="card-title text-center mb-4">Welcome !</h1>

              <div className="mb-2">{MODULE_DESCRIPTION}</div>

              <label className="w-100 mb-3">
                <div className="mb-2">You can load it on Abc-Map with this address :</div>
                <div className="input-group">
                  <input type="text" value={moduleUrl} className="form-control" readOnly={true} />
                  <button className="input-group-text" onClick={handleCopyToClipboard}>
                    <i className="fa fa-clipboard" />
                  </button>
                </div>
              </label>

              <div className="message-box" dangerouslySetInnerHTML={{ __html: cbMessage }} />

              <label className="w-100 mb-3">
                <div className="mb-2">Or you can directly open it on:</div>
                <div className="input-group">
                  <input type="text" value={instanceUrl} onChange={handleInstanceUrlChange} className="form-control" />
                  <button className="input-group-text" onClick={handleResetInstanceUrl}>
                    <i className="fa fa-undo" />
                  </button>
                </div>
              </label>

              <div className="message-box" dangerouslySetInnerHTML={{ __html: opMessage }} />

              <div className="d-flex justify-content-end">
                <button onClick={handleOpenModule} className="btn btn-primary">
                  <i className="fa fa-rocket me-2" /> Open module
                </button>
              </div>
            </div>
          </div>
        );
      }

      function isValidUrl(url) {
        return url.match(/^https?:\/\//gi);
      }
    </script>
  </body>
</html>
