@import "./assets/mixins";

/*

This file contains styles used by user interface.

You can use CSS or SASS syntax.

 */

.module {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  padding: 2rem 1rem;

  width: 100%;

  // We limit width on large screens
  @include media-breakpoint-up(xl) {
    width: 80vw;
    margin: 2rem 10vw;
  }

  img {
    width: 90%;
    max-width: 90%;

    border: solid 1px lightgray;
    padding: 1rem;
    margin: 1rem;
  }
}

.introduction {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
